* {
    margin: 0;
    padding: 0;
    background-color: rgb(99, 235, 189);
}

#main{
    background: white;
    padding: 20px;
}

#h1 {
color: blue;
text-align: center;
font-family: sans-serif;
margin-left: -300px;
}

.score {
    margin: 80px auto;
    border: 2px solid white;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    color: wheat;
    font-size: 50px;
    padding: 50px;
    font-family: sans-serif;
    
}
.badge{
    background: rgb(239, 42, 7);
    color: wheat;
    opacity: 1.5;
    font-size: 14px;
    padding: 2px 10px;
    font-family: sans-serif;

}

#user-label{
    position: relative;
    top: 30px;
    left: 120px;
    border-radius: 200%;
}
#computer-label{
    position: relative;
    top: 10px;
    right: 120px;
    border-radius: 200%;
}
.results p{
text-align: center;
font-weight: bold;
font-family: sans-serif;
}

.selection{
    border: 4px solid white;
    border-radius: 50%;
    display: inline-block;
    margin: 0 20px;
    padding: 10px;
}
.selection:hover{
    cursor: pointer;
    background: lawngreen;
}

#message{
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}
.selections{
    text-align: center;
}
