* {
    background-color: rgb(99, 235, 189);
}
.selections {
    display: flex;
    justify-content: center;
}
.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 3rem;
    transition: 100ms;
}
.selection:hover {
    transform: scale(1.5);
}
.results{
    margin-top: 2rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    font-size: 16px;
}
.result-score {
    margin-left: .5rem;
    font-size: 16px;
}
result-selection {
    opacity: .5;
}
result-selection.winner {
    opacity: 1;
    font-size: 2 rem;
}
.bigger {
    font-size: 2rem;
}