* {
    background-color: rgb(99, 235, 189);
    
}
.body {
    display: flex;
    margin: 0;
padding: 0;
    justify-content: center;
}
.header {
    width: 100%;
    height: 15%;
    padding-top: 25px;
    background-color: rgb(99, 235, 189);
    box-sizing: border-box;
}
.header h1 {
    text-align: center;
    margin: 0;
}
.container {
    position: relative;
    height: 85%;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: rgb(99, 235, 189);
color: white;
}
.score-board {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    width: 150px;
    height: 40px;
}
.score {
    position: absolute;
    text-align: center;
    font-size: 30px;
    width: 100%;
}
.user {
position: absolute;
left: 0;
top: 50%;
transform: translateX(-100%);
background-color: red;
width: 40px;
height: 15px;
font-size: 10px;
padding: 2px 10px;
box-sizing: border-box;
}

.com {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(100%);
    background-color: red;
    width: 40px;
    height: 15px;
    font-size: 10px;
    padding: 2px 10px;
    box-sizing: border-box;
    }
    .selections {
        width: 250%;
        position: absolute;
        top: 200%;
        left: 25%;
        transform: translateY(-50%);
        
    }
    .selection {
        width: 80px;
        height: 80px;
        margin: 5px;
        border: 3px solid white;
        border-radius: 50%;
        color: red;
        font-size: 40px;
        background-color: rgb(22, 7, 48);
        cursor: pointer;
        outline: none;
    }
    .selection:hover {
        background-color: white;
        border-color: white;
        color: white;
    }
    .challenge {
        position: absolute;
        top: 300%;
        left: 50%;
        transform: translate(-50% -50%);
        width: 500%;
        height: 50%;
        display: inline-flex;
    }
    #you {
        position: relative;
        width: 40%;
        font-size: 40px;
    }
    #com {
        position: relative;
        width: 40%;
        font-size: 40px;
    }
    .me{
position: absolute;
bottom: 5%;
left: 50%;
transform: translateX();
color: white;
font-size: 30px;
    }
